<div class="row">
  <div class="col-md-6">
    <h3>My Address</h3>

    <p>ABC Rd, ABC, US</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "555555" %></p>

    <h3>Email</h3>

    <p><a href="mailto:test@test.com?subject=PortfolioContact" "email me">Email me</a> </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2952.6085588440787!2d-71.43977808487102!3d42.26553117919327!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e389d6411b790b%3A0xfe0a3f437761460f!2s78%20Higley%20Rd%2C%20Ashland%2C%20MA%2001721!5e0!3m2!1sen!2sus!4v1583110000191!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>
</div>