<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">Software development is more than writing code. It's an art making sure the user interface is nice and intuitive to the user.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>